[submodule "main"]
	path = frontend/main
	url = git@github.com:Drip-Solutions/dm-frontend.git
	branch = master
[submodule "app"]
	path = frontend/app
	url = git@github.com:Drip-Solutions/dm-app-frontend.git
	branch = master
[submodule "api"]
	path = backend/api
	url = git@github.com:Drip-Solutions/dm-api.git
	branch = master
[submodule "scraper"]
	path = backend/scraper
	url = git@github.com:Drip-Solutions/dm-scraper.git
	branch = master
[submodule "monitor"]
	path = backend/monitor
	url = git@github.com:Drip-Solutions/dm-monitor.git
	branch = master
[submodule "discord"]
	path = backend/discord
	url = git@github.com:Drip-Solutions/dm-discord-bot.git
	branch = master
[submodule "nginx"]
	path = backend/nginx
	url = git@github.com:Drip-Solutions/dm-nginx.git
	branch = master